.bestselling-furniture{
    grid-column: 2 / 10;
    grid-row: 6 / 7;
    &-header{
        font-size: 4.5rem;
        color: #23487f;
        text-align: center;
        margin: 3rem 0;
    }
    &-cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 6.4rem;
    }
    &-card{
        backgroun-color: #efefef;
        box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, .3);
    }
    &-img{
        width: 100%;
        border-radius: .3rem .3rem 0 0;
    }
    &-heading{
        background-color: #fffddd;
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 2.4rem;
        color: #458a9f;
        padding: .5rem 0;
        border-radius: .2rem;
        transform: translateY(-50%);
    }
    &-paragraph{
        font-size: 1.9rem;
        color: #23487f;
        text-align: center;
        margin-bottom: 1.6rem;
    }
    &-btn{
        width: 100%;
        padding: 1.6rem 0;
        background-color: $fontColor;
        font-size: 1.9rem;
        color: #fff;
        border: none;
        border-radius: 0 0 .3rem .3rem;
        &:hover{
            background-color: #23487f;

        }
    }
}